*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
.env
.vscode/settings.json
# release / debug files
tempus-release-key.jks

# temp file
temp
tmp

# claude local 
.claude/settings.local.json

# IDE
.kotlin/
.project
.idea/
.classpath

app/build